@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Light.ttf'); /* IE9 Compat Modes */
  font-weight:300;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
  font-weight:400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Semibold.ttf'); /* IE9 Compat Modes */
  font-weight:600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
  font-weight:700;
}